* { /* Disables the browser's default padding and margin, defines behavior of width and height properties */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body { /* Sets the background color of the whole page */
    background-color: #d9dcd6; 
}

.header { /* Sets behavior of all header classes */
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo { 
    color: #d9dcd6; /* Changes the color of the "seo" in "Horiseon" in the header/logo */
}

/* "div" changed to "nav" to reflect semantics in html; this CSS configures the nav bar in the header */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul { 
    list-style-type: none; /* Disables bullet points */
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a { /* Makes all links on the page white and removes their underline */
    color: #ffffff;
    text-decoration: none;
}

p { /* Defines the font size for all paragraphs */
    font-size: 16px;
}

.hero { /* This CSS inserts the photo of the meeting under he header as a background image */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left { /* Makes elements with the float-left class actually float left with some margin on the right */
    float: left;
    margin-right: 25px;
}

.float-right { /* Makes elements with the float-right class actually float right with some margin on the left */
    float: right;
    margin-left: 25px;
}

.content { /* Defines how much space on the page the main sections take up */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Benefits class CSS defines the configuration of the sidebar content (box size and spacing) */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* These classes define the configuration of the main sections of the page describing Horiseon's offerings */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* This CSS defines the behavior of the footer; text size and font as well as centering it */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
